.logo1{
    width: 145px !important;
    height: 145px !important;
    margin-left: 65px;
}

.navbar{
background-color: transparent
}
.navbar-nav{
    width: 350px !important;
    display: flex;
    justify-content: space-around;
}
.lolli{
    width: 200px !important;
    margin-right: 70px;
    
}
.iconbox1{
    .btn{
       color: #F14A16;
       border-color: #F14A16;
    }
}
